---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="css/base.css" />
      <link rel="stylesheet" href="css/style.css" />
      <title>FashionRUs</title>
    </head>

    <body>
      <main>
        <h2>Categories</h2>
        <section class="categorylist">
          <a href="productlist.html">Accessories</a>
          <a href="productlist.html">Apparel</a>
          <a href="productlist.html">Footwear</a>
          <a href="productlist.html">Free Items</a>
          <a href="productlist.html">Personal Care</a>
          <a href="productlist.html">Sporting Goods</a>
        </section>
      </main>
    </body>
  </html>
</Layout>
