<header class="mainNav">
  <a href="index.html">
    <h1>Fashion<span>R</span>Us</h1>
  </a>
  <nav>
    <a href="/productlist">Products</a>
    <a href="#">Brands</a>
    <a href="#">Seasons</a>
  </nav>
</header>
<style>
  .mainNav h1 span {
    display: inline-block;
    transform: scaleX(-1) translateX(-0.2rem);
    color: var(--off-color);
  }
  .mainNav > * {
    margin: 0;
  }
  .mainNav h1 {
    margin-right: auto;
  }

  .mainNav > a {
    display: block;
    text-decoration: none;
  }
</style>
